p {
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  font-style: oblique;
  text-align: right;
}

b {
  color: #b80303;
  font-size: 20px;
}

body {
  text-decoration: underline;
}

h1 {
  text-align: center;
}